@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.25%;
}

body {
    background-color: #0260bf;
    font-family: Poppins, sans-serif;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30rem 0;
    width: 80%;
    margin: auto;
}

.navbar-right-part {
    margin-left: auto;
}

.navbar-right-part ul {
    display: flex;
    flex-direction: row;
}

.navbar-right-part ul li {
    list-style: none;
}

.navbar-right-part ul li a {
    text-decoration: none;
    font-size: 16rem;
    color: #fff;
    font-weight: 500;
    margin-left: 25rem;
    background: none;
    transition: 0.7s ease;
    border-radius: 30px;
    padding: 3px 15px;
}

.navbar-right-part ul li a:hover {
    background-color: #fff;
    color: #000;
}

.hero-section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 45rem;
}

.hero-left-part,
.hero-right-part {
    width: 50%;
}

.hero-right-part img {
    float: right;
    margin-right: 10%;
    height: 600px;
}

.hero-heading h2 {
    font-size: 65rem;
    font-weight: 900;
}

.hero-heading h1 {
    font-size: 120rem;
    line-height: 75rem;
    font-weight: 900;
}

.hero-text p {
    font-size: 16rem;
    margin: 55rem 0;
    font-weight: 500;
}

.main-btn {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2rem;
    font-size: 14rem;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    opacity: 0.8;
}

.footer {
    width: 100vw;
}

.footer-img-container {
    width: max-content;
    margin: 15rem auto;
}

.footer img {
    width: 55px;
    height: auto;
    margin: auto 25rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer img:hover {
    transform: translateY(-25rem);
}
